.Form {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
}

.Form label {
    text-align: right;
}

.Form button {
    margin-top: 10px;
}

.Form .cancel {
    float: right;
}