.Menu {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.Menu div a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.Menu div a:hover {
    background-color: #111;
}

.Menu div a:active {
    background-color: #555;
}
