.styled-form {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
}

.styled-form label {
    text-align: right;
}

.styled-form button {
    margin-top: 10px;
}

.styled-form .cancel-button {
    float: right;
}