.Grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: start;
    grid-column-gap: 50px;
    grid-row-gap: 0;
}

.Grid .Row {
    grid-column: 1 / span 2;
}

.Grid .Cell {
}