.Table {
    border-collapse: collapse;
}

.Table td, .Table th {
    border: 1px solid #ddd;
    padding: 10px;
}

.Table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.Table tr:hover {
    background-color: #ddd;
}

.Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: SteelBlue;
    color: white;
}